<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Forbidden</title>
    <link id="pagestyle" href="{% static '/assets/css/argon-dashboard.css' %}?v=2.0.4" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

    <style>
        #footer{
            text-align: center;
            position: fixed;
            margin-left: 530px;
            bottom: 0px
       }

       body {
        margin: auto;
       }
    </style>
</head>




<body class="bg-dark text-white py-5">
    <div class="container py-5">
         <div class="row">
              <div class="col-md-2 text-center">
                   <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Status Code: 403</p>
              </div>
              <div class="col-md-10">
                   <h3 class="text-white">OPPSSS!!!! Sorry...</h3>
                   <p>Sorry, your access is refused due to security reasons of our server and also our sensitive data.<br/>Please go back to the previous page to continue browsing.</p>
                   <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
              </div>
         </div>
    </div>

    <div id="footer" class="text-center">
         Infirmary Management System 2024, Lyceum-Northwestern University
    </div>
</body>
</html>