{% extends 'authentication/base.html' %}

{% block title %} Home {% endblock %}


{% block stylesheet %}

{% endblock %}


{% block content%}

<div class="row mt-lg-n10 mt-md-n11 mt-n10">
  <div class="col-lg-12  text-center z-index-0">
    <img src="/static/assets/img/L-NU_LOGO.png" style="width: 200px;" class="img-fluid">
    <p class="lead"><br> <b>Infirmary Management System</b></p>
      <div class="btn-wrapper mt-5">

          <a class="btn btn-secondary btn-icon mb-3 mb-sm-0" type="button" data-bs-toggle="modal" data-bs-target="#modal-appointment" target="_blank">
          <span class="btn-inner--icon"><i class="fas fa-paper-plane"></i></span>
          <span class="btn-inner--text">Request Appointment</span>
          </a>
          
          <a type="button" data-bs-toggle="modal" data-bs-target="#modal-medcert" class="btn btn-outline-secondary btn-icon mb-3 mb-sm-0">
              <span class="btn-inner--icon"><i class="fa-solid fa-notes-medical"></i></span>
              <span class="btn-inner--text">Request Medical Certificate</span>
          </a>
      </div>
      <!--
      <div class="mt-5">
          <small class="font-weight-bold mb-0 mr-2">*proudly coded by</small>
          <img src="/static/assets/img/creativetim-black-slim.png" style="height: 28px;">
      </div>
        -->
  </div>
</div>


  <!-- MODALS -->

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="modal-appointment" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card card-plain">
          <div class="card-header pb-0 text-left">
            {% if request.user.is_authenticated %}

            <h3 class="font-weight-bolder text-secondary ">Request Appointment</h3>
            {% else %}

            <h3 class="font-weight-bolder text-secondary ">Login Account</h3>
            {% endif %}
          </div>
          <div class="card-body">


            {% if request.user.is_authenticated %}
            <form role="form text-left" id="request-appointment-form" action="{% url 'request-appointment' %}" method="POST">

              {% csrf_token %}

              <input type="hidden" name="patient_id" value="{{ request.user.id }}">

              <div class="form-group">
                <label for="example-date-input" class="form-control-label">Please select desired date:</label>
                <input class="form-control" name="date" required type="date" id="example-date-input">
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">Please state your reason: </label>
                <textarea class="form-control" name="reason" required id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-round bg-gradient-secondary btn-lg w-100 mt-4 mb-0">Send request</button>
              </div>
            </form>

            {% else %}


            <form role="form" action="{% url 'combined-login' %}" method="POST">
              {% csrf_token %}
              
            <input type="hidden" name="user_type" value="patient">
              <div class="mb-3">
                <input type="text" name="username" class="form-control" placeholder="User ID" aria-label="Name">
              </div>
              <div class="mb-3">
                <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password">
              </div>
  
              <div class="text-center">
                <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Login</button>
              </div>
              <p class="text-sm mt-3 mb-0">Don't have an account? <a href="{% url 'register-page' %}" class="text-dark font-weight-bolder">Sign up</a></p>
            </form>

            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-medcert" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card card-plain">
          <div class="card-header pb-0 text-left">
            {% if request.user.is_authenticated %}

            <h3 class="font-weight-bolder text-secondary ">Request Medical Certificate</h3>
            {% else %}

            <h3 class="font-weight-bolder text-secondary ">Login Account</h3>
            {% endif %}
          </div>
          <div class="card-body">


            {% if request.user.is_authenticated %}
              {% if records %}

              <form role="form text-left" action="{% url 'request-medcert' %}" method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <input type="hidden" name="patient_id" value="{{ request.user.id }}">


                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">Purpose of Medical Certificate: </label>
                  <input class="form-control" type="text" name="purpose" required value="" id="example-text-input">
                </div>


                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Please state your reason: </label>
                  <textarea class="form-control" name="reason" required id="exampleFormControlTextarea1" rows="1"></textarea>
                </div>

                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Additional Notes or Details: </label>
                  <textarea class="form-control" name="additional_notes"  id="exampleFormControlTextarea1" rows="1"></textarea>
                </div>

                
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">Additional supporting documents: </label>
                  <input class="form-control" type="file" name="supporting_document" value="" id="example-text-input">
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-round bg-gradient-secondary btn-lg w-100 mt-4 mb-0">Send request</button>
                </div>
              </form>
              
              {% else %}

              <p class="text-center"> No records found. Please schedule an appointment or visit the infirmary clinic between 9 AM and 4 PM to have your details entered into our system. </p>

              {% endif %}

            {% else %}
            

            <form role="form" action="{% url 'combined-login' %}" method="POST">
              {% csrf_token %}
              
              <input type="hidden" name="user_type" value="patient">
              <div class="mb-3">
                <input type="text" name="username" class="form-control" placeholder="User ID" aria-label="Name">
              </div>
              <div class="mb-3">
                <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password">
              </div>
  
              <div class="text-center">
                <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Login</button>
              </div>
              <p class="text-sm mt-3 mb-0">Don't have an account? <a href="{% url 'register-page' %}" class="text-dark font-weight-bolder">Sign up</a></p>
            </form>

            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}


{% block js %}


<script>
  function disablePastDatesAndSundays() {
      const dateInput = document.getElementById('example-date-input');
      const today = new Date();
      
      // Format the date in yyyy-mm-dd format for the min attribute
      const formatDate = (date) => {
          const year = date.getFullYear();
          const month = String(date.getMonth() + 1).padStart(2, '0');
          const day = String(date.getDate()).padStart(2, '0');
          return `${year}-${month}-${day}`;
      };

      // Set the minimum date to today
      dateInput.setAttribute('min', formatDate(today));

      // Disable Sundays
      dateInput.addEventListener('input', () => {
          const selectedDate = new Date(dateInput.value);
          const dayOfWeek = selectedDate.getDay();
          if (dayOfWeek === 0) { // 0 is Sunday
              alert('Sundays are not selectable.');
              dateInput.value = '';
          }
      });
  }

  // Run the function when the DOM is fully loaded
  document.addEventListener('DOMContentLoaded', disablePastDatesAndSundays);
</script>
<!-- Include SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const form = document.getElementById('request-appointment-form');
  
      form.addEventListener('submit', function(event) {
          event.preventDefault();  // Prevent the default form submission
  
          const formData = new FormData(form);
  
          Swal.fire({
              title: 'Sending...',
              text: 'Your request is being processed',
              icon: 'info',
              showConfirmButton: false,
              allowOutsideClick: false,
              didOpen: () => {
                  Swal.showLoading();
              }
          });
  
          fetch('{% url "request-appointment" %}', {
              method: 'POST',
              body: formData,
              headers: {
                  'X-CSRFToken': formData.get('csrfmiddlewaretoken')  // Pass CSRF token
              }
          })
          .then(response => response.json())
          .then(data => {
              Swal.close();  // Close the loading alert
  
              if (data.message === 'Appointment requested successfully') {
                  Swal.fire({
                      icon: 'success',
                      
                      title: 'Success',
                      text: data.message,
                      timer: 2000,  // Auto-close after 2 seconds
                      timerProgressBar: true,
                      showConfirmButton: false,
                      didClose: () => {
                          window.location.reload();  // Reload the page after closing
                      }
                  });
              } else {
                  Swal.fire({
                      icon: 'info',
                      text: data.message,
                  });
              }
          })
          .catch(error => {
              Swal.close();  // Close the loading alert
  
              Swal.fire({
                  icon: 'info',
                  title: 'Error',
                  text: 'An unexpected error occurred.',
                  timer: 2000,  // Auto-close after 2 seconds
                  timerProgressBar: true
              });
          });
      });
  });
  </script>
{% endblock %}