
<div class="card" id="medicine_records">
    <div class="card-header d-flex justify-content-between align-items-center pb-0 px-3">
        <h6 class="mb-0">Medicine Supply</h6>
        <div class="d-flex align-items-center
        ">
        
            <a href="" class="fw-bold text-success"><i class="fa fa-plus me-1"></i>Add Medicine</a> <div class="vr mx-2"></div>
            <a href="" class="me-3 fw-bold text-secondary"><i class="fa fa-eye me-1"></i>View Supplies</a>
            

        </div>
    </div>
    <div class="table-responsive">
      <table class="table align-items-center mb-0">
        <thead>
          <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
            <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">Quantity in Stock</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Unit of Measure</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Expiration Date</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
            <th class="text-secondary opacity-7"></th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>
              <div class="d-flex px-2 py-1">
                <div>
                  <img src="/static/assets/img/team-2.jpg" class="avatar avatar-lg me-3">
                </div>
                <div class="d-flex flex-column justify-content-center">
                  <h4 class="mb-0">Paracetamol</h4>
                  <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>
                </div>
              </div>
            </td>
            <td class="text-center">
              <p class="text-md font-weight-bold mb-0">50</p>
            </td>
            <td class="align-middle text-center text-sm">
              
                <p class="text-md font-weight-bold mb-0">Tablets</p>
                
            </td>
            <td class="align-middle text-center">
              <span class="text-secondary text-md font-weight-bold">23/04/18</span>
            </td>

            <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">Sample Description </span>
            </td>


            <td class="text-sm">
                <a href="javascript:;" data-bs-toggle="tooltip" data-bs-original-title="Preview">
                <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                </a>
                <a href="javascript:;" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit">
                <i class="fas fa-user-edit text-secondary" aria-hidden="true"></i>
                </a>
                <a href="javascript:;" data-bs-toggle="tooltip" data-bs-original-title="Delete">
                <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                </a>
            </td>


          </tr>
  
        </tbody>
      </table>
    </div>
</div>